/* date range customization */
#simple-popover .MuiPaper-root {
    top: 65px !important;
}

.MuiDateRangePickerDay-day{
    font-size: 14px !important;
}

.MuiPickersDay-root.Mui-selected {
    background-color: #18BC9C !important;
    border-radius: 4px !important;
    border: 2px solid #FFFFFF !important;
}

.MuiDateRangePickerDay-rangeIntervalDayHighlight{
    background-color: #E4F4F1 !important;
}

.MuiDateRangePickerDay-dayInsideRangeInterval{
    color: black !important;
}

.MuiDateRangePickerDay-dayOutsideRangeInterval:hover, .MuiPickersDay-today:not(.Mui-selected){
    border-radius: 4px !important;
    border: unset !important;
    background-color: #E4F4F1 !important;
}

.MuiDateRangePickerDay-rangeIntervalDayHighlight:last-child, .MuiDateRangePickerDay-rangeIntervalDayHighlightEnd{
    border-radius: 0px 4px 4px !important;
}

.MuiDateRangePickerDay-rangeIntervalDayHighlight:first-child, .MuiDateRangePickerDay-rangeIntervalDayHighlightStart{
    border-radius: 4px 0px 0px 4px !important;
}

.MuiDateRangePickerViewDesktop-rangeCalendarContainer:not(:last-child){
    border-right: unset !important;
}

.MuiIconButton-label svg {
    background: #FFFFFF;
    border: 1px solid #D8D8D4;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(218, 227, 225, 0.1), inset 0px -1px 1px rgba(218, 227, 225, 0.15);
    border-radius: 4px;
}

.MuiPickersDay-root.Mui-disabled{
    color: #BABDB7 !important;
}

.MuiDateRangePickerViewDesktop-arrowSwitcher .MuiTypography-subtitle1{
    font-weight: bold;
    color: #393F3E;
}

/* replace the default week day with 3-text week day */
.MuiPickersCalendar-weekDayLabel { 
    font-size: 12px;
    visibility: hidden !important;
    position: relative !important;
}

.MuiPickersCalendar-weekDayLabel:nth-child(1):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Sun";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.MuiPickersCalendar-weekDayLabel:nth-child(2):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Mon";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiPickersCalendar-weekDayLabel:nth-child(3):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Tue";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiPickersCalendar-weekDayLabel:nth-child(4):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Wed";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiPickersCalendar-weekDayLabel:nth-child(5):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Thu";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiPickersCalendar-weekDayLabel:nth-child(6):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Fri";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MuiPickersCalendar-weekDayLabel:nth-child(7):after {
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
    content: "Sat";
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* popper padding */
.MuiPopover-paper{
    width: 688px;
    background: #FFFFFF;
    border: 1px solid #EAEAE7;
    box-sizing: border-box;
    box-shadow: 0px 12px 24px rgba(97, 97, 78, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* date input box */
.input-box{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 156px;
    font-size: 12px;
    box-sizing: border-box;
    cursor: pointer;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #18BC9C;
    box-shadow: 0px 2px 2px rgba(218, 227, 225, 0.1), inset 0px -1px 1px rgba(218, 227, 225, 0.15);
    border-radius: 4px;
}

.input-box span {
    color: #393F3E;
}

.input-box svg {
    color: rgb(54 208 178) !important
}

body{
    display: flex;
    justify-content: center;
    font-family: 'Manrope', sans-serif;
}